<section class="hero section section--background section--centered">

    <div class="section_image hero_image" style="background-image:url('/images/fiat-hero.jpg');">
        
    </div>
    
    <div class="hero_content">
        
        <h1 class="heading--xlarge hero_title">An app to unify  the customer experience.</h1>

        <p class="heading--small heading-line heading-line--centered hero_subtitle">Fiat holland</p>

    </div>

</section>