<div class="field">
    <label class="field_label" for="fieldname-select">Field Label</label>
    <div class="field_group">
        <select name="fieldname-select" id="fieldname-select" class="field_control">
            <option value="all">All</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
    </div>
</div>