<div class="field">
    <div class="field_group">
        <input type="radio" class="field_control sr-only" id="fieldname1" name="radiogroup" value="1">
        <label class="field_label" for="fieldname1">Lorem ipsum dolor sit amet, consectetur.</label>
    </div>
</div>