<div class="field">
    <div class="field_group">
        <input type="checkbox" class="field_control sr-only" id="fieldname-checkbox">
        <label class="field_label" for="fieldname-checkbox">Lorem ipsum dolor sit amet, consectetur.</label>
    </div>
</div>