<div class="field">
    <label class="field_label" for="fieldname-text">Field Label</label>
    <div class="field_group">
        <input type="text" class="field_control" id="fieldname-text" />   
    </div>
</div>