<h1 class="heading--xlarge divider-line">Heading 1</h1>

<h2 class="heading--large divider-line">Heading 2</h2>

<h3 class="heading--medium divider-line">Heading 3</h3>

<h4 class="heading--small divider-line">Heading 4</h4>

<h5 class="heading--xsmall divider-line">Heading 5</h5>