<ul class="list">
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
</ul>

<ol class="list">
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
</ol>