<h1 class="heading--xlarge heading-line">Heading 1</h1>

<h2 class="heading--large heading-line">Heading 2</h2>

<h3 class="heading--medium heading-line">Heading 3</h3>

<h4 class="heading--small heading-line">Heading 4</h4>

<h5 class="heading--xsmall heading-line">Heading 5</h5>