<div class="container-fluid">

    <div class="device">
        
        <div class="device_inner device_inner--imac">
                
            <div class="device_screen">
                
                <div class="carousel js-carousel">
                    <div class="carousel_cell">
                        <img src="/images/fiat-slide-1.jpg" alt="Fiat" class="carousel_image">
                    </div>
                    <div class="carousel_cell">
                        <img src="/images/fiat-slide-2.jpg" alt="Fiat" class="carousel_image">
                    </div>
                    <div class="carousel_cell">
                        <img src="/images/fiat-slide-3.jpg" alt="Fiat" class="carousel_image">
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>