<a href="#" class="feature feature--work">
    
    <div class="feature_media">
        
        <img src="/images/feature-small.jpg" alt="Lorem ipsum dolor." class="feature_image"/>

    </div>

    <div class="feature_content">

        <div class="feature_content_inner">
            
            <h2 class="heading--large">Feature title</h2>

            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                
        </div>
        
    </div>

</a>