.footer {
    padding-bottom: 24px;
    padding-top: 48px;

    @include respond-to(small) {
        padding-bottom: 100px;
        padding-top: 50px;
    }

    @include respond-to(large) {
        padding-bottom: 150px;
        padding-top: 75px;
    }
}

.footer_link {
    color: $text-color;
    line-height: 1.5;

    &:hover {
        border-color: $text-color;
    }
}