<table>

    <caption>Table caption</caption>
    
    <thead>
        
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Detail</th>
        </tr>

    </thead>
    
    <tbody>
        
        <tr>
            <th scope="row">David</th>
            <td>Designer</td>
            <td>Lorem ipsum dolor sit amet</td>
        </tr>

        <tr>
            <th scope="row">David</th>
            <td>Designer</td>
            <td>Lorem ipsum dolor sit amet</td>
        </tr>

        <tr>
            <th scope="row">David</th>
            <td>Designer</td>
            <td>Lorem ipsum dolor sit amet</td>
        </tr>

    </tbody>

</table>