<div class="card">
    
    <div class="card_header">
        
        <h2 class="heading--large">Card title</h2>

    </div>

    <div class="card_detail">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum reprehenderit a cumque.</p>
        
        <a href="#" class="card_link">Card CTA link</a>
    </div>

</div>