<section class="section section--fullheight" style="background-color: #323232; color: #fff">

    <div class="container-fluid">
        
        <div class="row">
                
            <div class="col-sm-5 divider-line">
                

            </div>

            <div class="col-sm-7">

                {{> '@blockquote'}}

            </div>
            
        </div>

    </div>

</section>