<section class="section section--background section--carousel section--centered">

    <div class="section_image" style="background-image:url('/images/fiat-black.jpg');">
        
    </div>
    
    {{> '@carousel'}}

</section>