<section class="section section--fullheight" style="background-color: #323232; color: #fff">

    <div class="container-fluid">
        
        <div class="row">
                
            <div class="col-sm-3 col-sm-offset-1">
                
                <h3 class="heading-line heading--uppercase">Title</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quibusdam voluptate aperiam ex, optio sed quo distinctio suscipit, aut veniam.</p>

            </div>

            <div class="col-media col-media--right">

                <img src="/images/fiat-site-devices.png" alt="Lorem ipsum" />

            </div>
            
        </div>

    </div>

</section>