<section class="section" style="background-color:#EAE6E6;">
    
    <div class="container-fluid">
        
        <div class="row">
                
            <div class="col-sm-5 col-sm-offset-1">
                
                <img src="/images/fiat-screenshot-1.png" alt="lorem">

            </div>

            <div class="col-sm-5">

                <img src="/images/fiat-screenshot-2.png" alt="lorem">

            </div>
            
        </div>

    </div>

</section>