* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
}

body {
    overflow-x: hidden;
    position: relative;
}