<a href="#" class="feature feature--cta">

    <div class="feature_content">

        <div class="feature_content_inner">

            <p class="lead">View all work</p>
                
        </div>
        
    </div>

</a>