<blockquote class="blockquote">
    &ldquo;It seemed like a simple solution, but to actually build it, turned out to be more complex than we first imagined. But we did got there in the end.&rdquo;
</blockquote>
<cite>
    <span class="blockquote_name">Tom Howell</span>
    <span class="blockquote_role">Senior Art Director &amp; Designer</span>
</cite>