<div class="project-meta">
    
    <div class="project-meta_item heading-line">
        
        <h3 class="heading--small">Client</h3>    

        <p class="project-meta_detail">
            Fiat Holland
        </p>

    </div>

    <div class="project-meta_item heading-line">

        <h3 class="heading--small">Deliverables</h3>
        <p class="project-meta_detail">
            UX, UI Design, Content, Website, App
        </p>

    </div>
    
</div>