.container-fluid {
    // padding-left: 10px;
    // padding-right: 10px;

    // background-color: #fff;
    max-width: 1200px;
}

.container-fullwidth {
    max-width: none;   
}

.background--white {
    background-color: #fff;
}

.background--green {
    background-color: $green;   
    color: #fff;
}

img {
    display: block;
    max-width: 100%;
}