<h1 class="heading--xlarge">Heading 1</h1>

<h2 class="heading--large">Heading 2</h2>

<h3 class="heading--medium">Heading 3</h3>

<h4 class="heading--small">Heading 4</h4>

<h5 class="heading--xsmall">Heading 5</h5>