<section class="section--overlap" style="background-color: #323232;">
        
    <div class="container-fluid background--white">

        <div class="row">
            
            <div class="col-sm-6 col-sm-offset-1">

                <p class="heading--small heading-line">BUILDING APP PLATFORM</p>
        
                <h2 class="heading--medium">Putting you at the heart of the collection via VR online</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat necessitatibus impedit placeat quas ea dolorum earum, repellat error! Reprehenderit, facilis.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque iure enim magnam magni quisquam sapiente, nulla consequatur tempore quidem</p>

            </div>

            <div class="col-sm-4 col-sm-offset-1">

                {{> '@project-meta' }}

            </div>

        </div>

    </div>

</section>