<section class="section section--compressed">

    <div class="container-fluid container-fullwidth">
        
        <div class="row">
                
            <div class="col-sm-6 col-md-3">
                
                {{> '@feature'}}

            </div>

            <div class="col-sm-6 col-md-3">
                
                {{> '@feature'}}

            </div>

            <div class="col-sm-6 col-md-3">
                
                {{> '@feature'}}

            </div>

            <div class="col-sm-6 col-md-3">
                
                {{> '@feature--cta'}}

            </div>
            
        </div>

    </div>

</section>