<div class="field">
    <label class="field_label" for="fieldname-textarea">Field Label</label>
    <div class="field_group">
        <textarea class="field_control" name="fieldname-textarea" id="fieldname-textarea" cols="30" rows="10"></textarea>
    </div>
</div>