<div class="field">
    <label class="field_label" for="radio-group">Radio group label</label>
    <div class="field_group">
        <input type="radio" class="field_control sr-only" id="fieldname1" name="radiogroup" value="1">
        <label class="field_label" for="fieldname1">Lorem ipsum dolor sit amet, consectetur.</label>

        <input type="radio" class="field_control sr-only" id="fieldname2" name="radiogroup" value="2">
        <label class="field_label" for="fieldname2">Lorem ipsum dolor sit amet, consectetur.</label>

        <input type="radio" class="field_control sr-only" id="fieldname3" name="radiogroup" value="3">
        <label class="field_label" for="fieldname3">Lorem ipsum dolor sit amet, consectetur.</label>
    </div>
</div>